body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f3ef;
}

header {
    background: #9b6b43;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}

.item {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 0 12px #0003;
    text-align: center;
}

.item svg {
    margin-bottom: 10px;
}

footer {
    background: #9b6b43;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
